.footer{
    height:  250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #929597 ;
}
/* Responsividade */

@media (max-width: 360px) and (max-height: 780px) {
    .footer {
        height: 200px; 
    }
}

@media (max-width: 414px) and (max-height: 896px) {
    .footer {
        height: 220px; 
    }
}

@media (min-width: 1920px) and (min-height: 1080px) {
    .footer {
        height: 300px;
    }
}