.navbar{
    display: flex;
    box-shadow: black 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}
.brand{
    font-size: 1.2em;
}
.brand span{
    font-weight: 900;
    text-transform: uppercase;
}
.links_list{
    display: flex;
    list-style: none;
}
.links_list li a{
    padding: .4em .6em;
}
.active{
    background-color: black;
    color: white;
    border-radius: 10px;
}
button{
    background-color: black;
    color: antiquewhite;
    border-radius: 15px;
}
button:hover{
    background-color: red;
    transition: .5s;
    color: black;
    cursor: pointer;
}
/* Responsividade */
@media only screen and (max-width: 360px) {
    .navbar {
        padding: .3em;
        box-shadow: black 0px -2px 10px 0px;
    }

    .brand {
        font-size: 0.8em; 
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        padding: .5em; 
        box-shadow: black 0px -2px 10px 0px;
    }

    .links_list li a {
        padding: .2em .4em; 
    }

    button {
        font-size: 0.8em; 
    }
}

@media only screen and (min-width: 1600px) {
    .navbar {
        padding: .5em 2em;
        box-shadow: black 0px -2px 10px 0px;
    }

    .links_list li a {
        padding: .4em .6em; 
    }

    button {
        font-size: 1em; 
    }
}